@font-face {
    font-family: pros-nova;
    src: url(../../fonts/Proxima-Nova.otf);
}

* {
    font-family: pros-nova;
}

.chCard__Container {
    margin: 1rem 2rem;
    min-height: 100% ;
    background-color: white;
    border-radius: 1rem;
    color: #333333E6;
}

body {
    height: 100% !important;
}

.chCard_Row {
    font-weight: bold;
}

.overStrike {
    border-top: 3px solid #333333E6;
}

.chButton {
    margin: 1rem;
}