@font-face {
    font-family: pros-nova;
    src: url(../../fonts/Proxima-Nova.otf);
}


.botonAgregar {
    background-color: #3483fa ;
}

.cardContainer {
    display: flex;
    width: 18rem;
    text-align: center;
    font-family: pros-nova;
}

.itemsCols {
    margin: 1rem 0px;
}  