.cartIcon {
    position: absolute; 
    justify-content: flex-end;
    padding-bottom: 0px !important;
}

.numberProducts {
    position: relative;
    top: -2.2vh;
    font-size: 0.6rem;
    right:-1.4vh;
    color: white;
    font-weight: 500;
    border: 1px solid white;
    background-color: #fd611a;
    border-radius: 50%;
    padding:0.2vh 0.9vh;
}