.cartIcon {
    position: relative; 
    justify-content: flex-end;
    padding-bottom: 0px !important;
}

.numberProducts {
    position: relative;
    top: -5.5vh;
    font-size: 0.6rem;
    right:-1.5vh;
    color: white;
    font-weight: 500;
    border: 1px solid white;
    background-color: #fd611a;
    border-radius: 50%;
    padding:0.4vh 0.9vh;
}