@font-face {
    font-family: pros-nova;
    src: url(../fonts/Proxima-Nova.otf);
}

#root {
    width: 100%;
}

#row-navbar-styles {
    background-color: #fff159 ;
    height: auto;
    padding: 0.5em 2em;
    font-family: pros-nova;
}

.nav-link{
    font-size: 14px !important;
    color: #33333399 !important;
    font-weight: 400 !important;
    padding-bottom: 0px !important;
}

#col-reset-side-pad {
    padding-left: 0px;
    padding-right: 0px;
}

#cont-reset-side-pad{
    padding-left: 0px;
    padding-right: 0px;
}

#just-end-to-center-nowrap {
    justify-content: center;
    flex-wrap: nowrap;
}

#just-start-nowrap {
    justify-content: center;
    flex-wrap: nowrap;
}

.dropdown-menu.show {
    background: #333 !important;
}

.dropdown-item {
    color: #ffffff !important;
    font-weight: 500 !important;
    font-family: pros-nova;
    font-size: 13px;
    
}

@media (min-width: 1200px) {
    #just-end-to-center-nowrap {
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    
    #just-start-nowrap {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}